/* '...' means that the numbers of argument is uncertain,
 it will put value into a list for each arg that passed through
 */

 @mixin maxMediaQueries($arg...) {
    @if length($arg)==1 {
        @media screen and (max-width: nth($arg, 1)) {
            @content;
        }
    }
    @if length($arg)==2 {
        @media screen and (max-width: nth($arg, 1)) and (min-width:nth($arg, 2)) {
            @content;
        }
    }
}

@mixin minMediaQueries($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}
/* Transition Animation */
@mixin cubicTransition{
    -webkit-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 700ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
} 

/* Base style for <a> tag button */
@mixin aTagBtnBaseStyle {
    .a-tag-btn,
    .a-tag-btn:visited {
        padding: 14px 15px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        border-radius: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    .a-tag-btn:after,
    .a-tag-btn:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }
    .a-tag-btn:hover,
    .a-tag-btn:visited:hover {
        color: #FFF;
        text-shadow: none;
    }
    .a-tag-btn:hover:after,
    .a-tag-btn:visited:hover:after {
        height: 450%;
    }
    .a-tag-btn,
    .a-tag-btn:visited {
        position: relative;
        display: block;
        margin: 30px auto 0;
        padding: 14px 15px;
        color: #fff;
        font-size: 14px;
        border-radius: 0;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: .08em;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
}


/* Sandy Buttons */

@mixin aTagBtnSandy() {
    .a-tag-btn.sandy-one {
        border: 2px solid #a8d3d3;
        color: #FFF;
    }
    .a-tag-btn.sandy-one:after {
        border: 3px solid #a8d3d3;
        opacity: 0;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .a-tag-btn.sandy-one:hover:after {
        height: 120% !important;
        opacity: 1;
        color: #FFF;
    }
    .a-tag-btn.sandy-two {
        border: 2px solid #a8d3d3;
        color: #FFF;
    }
    .a-tag-btn.sandy-two:after {
        border: 3px solid #a8d3d3;
        opacity: 0;
        -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
    .a-tag-btn.sandy-two:hover:after {
        height: 600% !important;
        opacity: 1;
        color: #FFF;
    }
    .a-tag-btn.sandy-three {
        border: 2px solid #a8d3d3;
        color: #FFF;
    }
    .a-tag-btn.sandy-three:after {
        border: 3px solid #a8d3d3;
        opacity: 0;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }
    .a-tag-btn.sandy-three:hover:after {
        height: 400% !important;
        opacity: 1;
        color: #FFF;
    }
    .a-tag-btn.sandy-four {
        border: 2px solid #a8d3d3;
        color: #FFF;
    }
    .a-tag-btn.sandy-four:after {
        border: 3px solid #a8d3d3;
        opacity: 0;
        -moz-transform: translateY(-50%) translateX(-50%) rotate(25deg);
        -ms-transform: translateY(-50%) translateX(-50%) rotate(25deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
        transform: translateY(-50%) translateX(-50%) rotate(25deg);
    }
    .a-tag-btn.sandy-four:hover:after {
        height: 400% !important;
        opacity: 1;
        color: #FFF;
    }
}


/* Victoria Buttons */

@mixin aTagBtnVictoria {
    .a-tag-btn.victoria-one {
        border: 2px solid #a8d3d3;
    }
    .a-tag-btn.victoria-one:after {
        background: #a8d3d3;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }
    .a-tag-btn.victoria-two {
        border: 2px solid #a8d3d3;
    }
    .a-tag-btn.victoria-two:after {
        background: #a8d3d3;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        transform: translateX(-50%) translateY(-50%) rotate(25deg);
    }
    .a-tag-btn.victoria-three {
        border: 2px solid #a8d3d3;
    }
    .a-tag-btn.victoria-three:after {
        background: #a8d3d3;
        opacity: .5;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .a-tag-btn.victoria-three:hover:after {
        height: 140%;
        opacity: 1;
    }
    .a-tag-btn.victoria-four {
        border: 2px solid #a8d3d3;
    }
    .a-tag-btn.victoria-four:after {
        background: #a8d3d3;
        opacity: .5;
        -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
        transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
    .a-tag-btn.victoria-four:hover:after {
        opacity: 1;
        height: 600% !important;
    }
}


/* Gibson Buttons */

@mixin aTagBtnGibson() {
    .a-tag-btn.gibson-one {
        border: 2px solid #65b37a;
        color: #FFF;
    }
    .a-tag-btn.gibson-one:after {
        opacity: 0;
        background-image: -webkit-linear-gradient( transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-size: 10px 10px;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        transform: translateX(-50%) translateY(-50%) rotate(25deg);
    }
    .a-tag-btn.gibson-one:hover:after {
        height: 600% !important;
        opacity: 1;
        color: #FFF;
    }
    .a-tag-btn.gibson-two {
        border: 2px solid #65b37a;
        color: #FFF;
    }
    .a-tag-btn.gibson-two:after {
        opacity: 0;
        background-image: -webkit-linear-gradient( transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-size: 10px 10px;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }
    .a-tag-btn.gibson-two:hover:after {
        height: 600% !important;
        opacity: 1;
        color: #FFF;
    }
    .a-tag-btn.gibson-three {
        border: 2px solid #65b37a;
        color: #FFF;
    }
    .a-tag-btn.gibson-three:after {
        opacity: 0;
        background-image: -webkit-linear-gradient( transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-size: 10px 10px;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
        transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }
    .a-tag-btn.gibson-three:hover:after {
        height: 600% !important;
        opacity: 1;
        color: #FFF;
    }
    .a-tag-btn.gibson-four {
        border: 2px solid #65b37a;
        color: #FFF;
    }
    .a-tag-btn.gibson-four:after {
        opacity: 0;
        background-image: -webkit-linear-gradient( transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
        background-size: 10px 10px;
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .a-tag-btn.gibson-four:hover:after {
        height: 600% !important;
        opacity: 1;
        color: #FFF;
    }
}