@import './mixin';
@import './components/header.scss';
@import './components/recipe.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway');
:root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    margin-top: -21px;

    font-family: 'Raleway', cursive;
}