#header-container {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    text-align: center;
    height: 150px;
    box-shadow: 0 0 10px rgb(65, 65, 65), 0 0 3px rgb(51, 51, 51), 0 0 20px rgb(119, 119, 119);
    color: #fff;
    background-color: #24b598;
    animation: bg-color 20s infinite;
    -webkit-animation: bg-color 20s infinite;
}

#page-title {
    margin-right: 50vw;
    padding-left: 30px;
    h1 {
        font-size: 40px;
    }
    p {}
}

#upload-form {
    display: flex;
}

#upload-form-btn-group {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 20px;
    ;
    h2 {
        margin: 5px;
    }
}

#dropzone {
    cursor: pointer;
    width: 300px;
    height: 130px;
    border: 1px rgba(240, 240, 240, 0.8) solid;
    border-radius: 2px;
    margin: auto;
    p {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    #pointer {
        width: 40px;
        height: 40px;
        animation: blink 2s infinite;
    }
    img {
        max-height: 130px;
        max-width: 300px;
    }
}

.upload-input {
    margin: 0 6px;
    padding: 8px;
    width: 200px;
    border-radius: 1px;
    background: transparent;
    border: 1px rgba(240, 240, 240, 0.8) solid;
    margin: 5px;
    color:#fff;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: rgb(216, 216, 216);
        opacity:0.8;
    }
}

#upload-btn {
    margin: 5px auto;
    padding: 0.4em 2em;
    @include cubicTransition;
    display: block;
    text-decoration: none;
    border-radius: 1px;
    width: 150px;
    color: #fff7f7;
    box-shadow: #fff7f7 0 0px 0px 1px inset;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        color: rgba(255, 255, 255, 0.85);
        box-shadow: #f35d69 0 0px 0px 50px inset;
        text-shadow: 0 0 5px #fff7f7, 0 0 20px #fff7f7, 0 0 40px #fff7f7, 0 0 10px #fff;
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bg-color {
    0% {
        background-color: #24b598;
    }
    25% {
        background-color: #ada2ef;
    }
    50% {
        background-color: #3d91e5;
    }
    75% {
        background-color: #915bc1;
    }
    100% {
        background-color: #24b598;
    }
}

@keyframes bg-color {
    0% {
        background-color: #24b598;
    }
    25% {
        background-color: #ada2ef;
    }
    50% {
        background-color: #3d91e5;
    }
    75% {
        background-color: #915bc1;
    }
    100% {
        background-color: #24b598;
    }
}