
#header-container{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    justify-content: center;
    text-align: center;
    height: 400px;
    h1{
    }
    p{

    }
    #create-btn{

    }
    #dropzone{
        margin: auto;
    }
}