#recipe-list-container{
    display: flex;
}
.recipe-container{
    text-align: center;
    width: 400px;
    height: 400px;

}
.recipe-ele{
margin:0;
}
.recipe-title{
font-size: 25px;
}
.recipe-description{

}
.delete-btn{

}
.recipe-img{
    max-width: 300px;
    max-height: 300px;


}
